.faqSection {
    gap: 32px;
    /* padding: 0px 16px; */
    /* margin-bottom: 100px; */

    @media screen and (min-width: 744px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.FAQwrapper {
    width: 100%;
    padding: 0px 20px 80px;
}

.questionsTitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #18181b;
    padding: 10px;
}

.questionsList {
    max-width: 100%;
    padding: 20px;
    list-style: inside;
}

.questionsItems {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.8;
    color: #71717a;
}

/* .questionsItems:not(:last-child) {
    margin-bottom: 20px;
} */

.toggleBtn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 32px;
    height: 32px;
    border-radius: 50px;

    cursor: pointer;
    transition: all 1s ease-out;
}
