.mainWrapper {
    padding-right: 16px;
    padding-left: 16px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.list {
    list-style: none;
    margin-top: 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media screen and (min-width: 744px) and (max-width: 1023px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    @media screen and (min-width: 1024px) {
        margin-top: 80px;
        gap: 80px;
    }
}

.item {
    @media screen and (min-width: 1024px) {
        display: flex;
        gap: 30px;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (min-width: 1024px) {
    .item:nth-child(2n) {
        flex-direction: row-reverse;
    }
}

.imgWrap {
    background: rgba(134, 239, 172, 0.25);
    border-radius: 4px;

    @media screen and (min-width: 744px) {
        min-width: 220px;
    }

    @media screen and (min-width: 1024px) {
        min-width: 357px;
        height: 310px;
    }

    @media screen and (min-width: 1280px) {
        min-width: 400px;
    }
}

.mobImg {
    display: block;
    @media screen and (min-width: 744px) {
        display: none;
    }
}

.miniImg,
.maxiImg,
.descImg {
    display: none;
}

@media screen and (min-width: 744px) {
    .miniImg {
        display: block;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .maxiImg {
        display: block;
    }
    .miniImg,
    .descImg {
        display: none;
    }
}

@media screen and (min-width: 1280px) {
    .descImg {
        display: block;
    }
    .miniImg,
    .maxiImg {
        display: none;
    }
}
