.section {
    background-color: #f4f4f5;
    padding: 34px 16px 20px 16px;

    @media screen and (min-width: 1024px) {
        padding: 40px;
    }
}

.firstBox {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 25px;

    @media screen and (min-width: 1024px) {
        margin-bottom: 0;
    }
}

.iconList {
    list-style: none;
    display: flex;
}

.iconStyles {
    width: 25px;
    height: 25px;

    @media screen and (min-width: 1024px) {
        width: 32px;
        height: 32px;
    }
}

.list {
    list-style: none;
    margin-bottom: 40px;
    text-align: center;

    @media screen and (min-width: 744px) {
        display: flex;
        gap: 20px;
        justify-content: center;
    }
}

.item {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.8;
    color: #a1a1aa;

    @media screen and (min-width: 1024px) {
        font-size: 14px;
    }
}

.link:hover,
.link:focus {
    color: #16a34a;
}

.text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;

    color: #a1a1aa;
}
