.info_bgr {
    width: 100%;
    height: auto;
    background: url('../../image/bg_mob.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right 0px;
    padding: 80px 16px 80px 16px;
    display: flex;
    flex-direction: row;
    align-items: self-start;
    justify-content: space-evenly;
    gap: 28px;

    @media screen and (min-width: 744px) and (max-width: 1023px) {
        background: url('../../image/bg_mini.png');
        background-size: contain;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .info_bgr {
        background: url('../../image/bg_maxi.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right 0px;
        padding: 150px 16px;
    }
}

@media screen and (min-width: 1280px) {
    .info_bgr {
        background: url('../../image/bg_desc.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right 0px;
        padding: 150px 120px;
    }
}

.text_wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 420px;
    padding-top: 60px;
    padding-bottom: 100px;
}

.btnWrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    width: 200px;

    @media screen and (min-width: 1024px) {
        flex-direction: row;
        width: 100%;
    }
}

.miniImg,
.maxiImg,
.descImg {
    display: none;
}

@media screen and (min-width: 744px) {
    .miniImg {
        display: block;
    }
    .maxiImg,
    .descImg {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .maxiImg {
        display: block;
    }
    .miniImg,
    .descImg {
        display: none;
    }
}

@media screen and (min-width: 1280px) {
    .descImg {
        display: block;
    }
    .miniImg,
    .maxiImg {
        display: none;
    }
}
