body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

button {
  color: inherit;
  margin: 0;
  padding: 0;
  outline: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol,
li {
    padding: 0;
    margin: 0;
}

a {
  outline: none;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.container{
  padding-right: 16px;
  padding-left: 16px;
  margin: 0 auto;
}

.section {
  padding: 0 100px;
}
