.container {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    background-color: #3f3f46;
    color: #f4f4f5;
    padding: 12px 32px;
    font-weight: 600;
    font-size: 12px;
}

.iconStyles {
    width: 36px;
    height: 24px;
    color: #18181b;
}

.nav {
    display: none;
}
